{% extends 'layout.html'%}

{% block script %}
<script>
	// if (!localStorage.getItem('channels'))
	// 	localStorage.setItem('channels', []);

	document.addEventListener('DOMContentLoaded', () => {
		// disable the submit button when first loading the page
		document.querySelector('[type=submit]').disabled = true;

		document.querySelector('#channelName').onkeyup = () => {
			// disable sumbit if user did not type anything and enable if there is something typed in the input field
			if (document.querySelector('#channelName').value.length > 0)
				document.querySelector('[type=submit]').disabled = false
			else
				document.querySelector('[type=submit]').disabled = true
		}
		// console.log("about to submit")
		// console.log("items in localStorage: " + localStorage.getItem("channels"))
		// document.querySelector("#channelNameForm").onsubmit = () => {
		// 	// get the channel name the user submited
		// 	const channel = document.querySelector("#channelName").value;
		// 	// store this channel name is localStorage
		// 	channel_list = localStorage.getItem("channels")
		// 	localStorage.setItem('channels', channel_list.push(channel))
		// }
	})
</script>
{% endblock %}

{% block title %}
	Create a Channel | Flack
{% endblock%}

{% block main %}
	<form action="{{ url_for('create_channel') }}" method="post" id="channelNameForm">
		<div class="form-group">
			<label for='channelName' class="">Select the name of your new channel: </label>
			<input type="text" name='channelName' value="" id="channelName" placeholder="Name of your channel" autocomplete="off"></input>
			<button type="submit" class='btn btn-primary'>Create channel</button>
		</div>
	</form>

	{{ message }}
{% endblock %}