{% extends 'layout.html' %}

{% block script%}
<script>
		// set starting value of displayName to ''
		if (!localStorage.getItem('displayName'))
			localStorage.setItem('displayName', ' ')

		document.addEventListener('DOMContentLoaded', () => {
			if (document.querySelector('#user')) {
				// get user's display name
				const displayName = document.querySelector('#user').innerText;
				
				// store this displayName in local storage
				localStorage.setItem('displayName', displayName);
			}
		});
</script>
{% endblock %}

{% block title %}
	Get Started | Flack
{% endblock %}}

{% block main %}
	<h1>Hello <span id="user">{{ user }}</span>! Here are some options to get started:</h1>
	<div id="get_started_options">	
		<form action="{{ url_for('list_of_channels') }}", method="get">
			<div class="options form-group" id='select-channel'>
				<p>Find existing channels depending on your interests and what you want to achieve</p>
				<button>List of channels</button>
			</div>
		</form>
		<form action="{{ url_for('create_channel') }}" method="get">
			<div class="options form-group" id='create-channel'>
				<p>Create a new channel for your team or community to work together and discuss about interesting stuff</p>
				<button>Create new channel</button>
			</div>
		</form>
	</div>
{% endblock %}