<!DOCTYPE html>
<html lang='en'>
<head>
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <script>
			document.addEventListener('DOMContentLoaded', () => {
				document.querySelector("#user_nav").innerText = localStorage.getItem('displayName');
				console.log("HEY THERE")
				console.log(localStorage.getItem('displayName'))
			});
		</script>
	{% block script %}{% endblock %}
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Flack</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                	<li><a id="user_nav" href=""></a></li>
                	<li><a href="{{ url_for('create_channel') }}">Create a Channel</a></li>
                	<li><a href="{{ url_for('list_of_channels') }}">List of Channels</a></li>
                </ul>
			</div>
		</div>
	</nav>	

	<main>
		<div class="container">
			{% block main %}{% endblock %}
		</div>
	</main>
</div>
</body>
</html>