<!DOCTYPE html>
<html lang='en'>
<head>
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <script>
			document.addEventListener('DOMContentLoaded', () => {
				// If the user has not selected a username redirect him to the main page
				if (!localStorage.getItem('displayName') && (window.location.href != "http://127.0.0.1:5000/" && window.location.href != "http://127.0.0.1:5000/get-started"))
					window.location.replace("http://127.0.0.1:5000/");

				if (document.querySelector('#user'))
					document.querySelector("#user_nav").innerText = document.querySelector("#user").innerText
				else 
					document.querySelector("#user_nav").innerText = localStorage.getItem('displayName');

			});
	</script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	{% block script %}{% endblock %}
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Flack</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                	<li><a id="user_nav" href=""></a></li>
                	<li><a href="{{ url_for('create_channel') }}">Create a Channel</a></li>
                	<li><a href="{{ url_for('list_of_channels') }}">List of Channels</a></li>
                </ul>
			</div>
		</div>
	</nav>	

	<main>
		<div class="container">
			{% block main %}{% endblock %}
		</div>
	</main>
</div>
</body>
</html>