{% extends 'layout.html' %}

{% block title %}
	List of Channels | Flack
{% endblock %}

{% block script %}
<script>
	function checkTime(i) {
	  	if (i < 10) 
	    	i = "0" + i;

		return i;
	}

	document.addEventListener('DOMContentLoaded', () => {
		if (window.location.hash) {

		    // // Read the hash string omitting the # prefix
		    // var hashJson = window.location.hash.substring(1);

		    // // Restore the deserialized data to memory
		    // myData = JSON.parse(decodeURIComponent(hashJson));
			
			// // Select all the channels in the list
			// const options = document.querySelectorAll('.option');

			// options.forEach(option => option.onclick = () => {

			// 	if (this.innerText == myData)
			// 		this.trigger('click');
			// })
		}


		// currently loged in user
		let user = localStorage.getItem('displayName')

		// current time
		const today = new Date();
		const time = `${today.getHours()}:${checkTime(today.getMinutes())}`;
		document.querySelector('#send').disabled = true;

		document.querySelector('#new_message').onkeyup = () => {
			// disable sumbit if user did not type anything and enable if there is something typed in the input field
			if (document.querySelector('#new_message').value.length > 0)
				document.querySelector('#send').disabled = false
			else
				document.querySelector('#send').disabled = true

			// if the user has not typed any letters or symbols, disable the prompt
			if ((/[a-z0-9._?!*-]/i).test(document.querySelector('#new_message').value) == false)
				document.querySelector('[type=submit]').disabled = true
		}


		// Hide the message field when no channel has been selected
		document.querySelector('#send_new_message').style.display = 'none';

		// Select all the channels in the list
		const options = document.querySelectorAll('.option');

		// When a channel name is clicked
		options.forEach(option => option.onclick = function() {

			// Get the text of this option (channel)
			const channelSelection = this.innerText;

			// Update URL hash
			window.location.hash = encodeURIComponent(JSON.stringify(channelSelection));

			// Make the message field visible
			document.querySelector('#send_new_message').style.display = 'block';

			// Clear the previous messages screen
			document.querySelector('#messages').innerHTML = '';

			// Initialize new request
			const request = new XMLHttpRequest();

			// Where to send this request
			request.open('POST', '/messages');
					document.querySelector('#messages').innterHTML = '';

			// What happens when the request has been completed
			request.onreadystatechange = () => {
				if (request.readyState == 4 && request.status == 200) {

					// Extract JSON data from request
					const data = JSON.parse(request.responseText);

					// Update the messages div
					const messages = data.messages;
					// Get each message from the response and display it on the screen
					for (i = 0; i < messages.length; i++) {
						const li = document.createElement('li');
						li.innerHTML = messages[i];

						document.querySelector('#messages').append(li);
					}
				}
			}
			// Add data to send with request - Specify what information should be included with the submission of the form
			const data = new FormData();
			data.append('channel', channelSelection)

			// Send request
			request.send(data);
		
			// Stop page from reloading
			return false;
		});

		// Connect to websocket
		var socket = io.connect();

		// When connceted
		socket.on('connect', () => {
			// When Send is pressed emit a 'send message' event to the server
			document.querySelector('#send_new_message').onsubmit = () => {
				let message = document.querySelector('#new_message').value;
		
				message = `${user}: ${message} (${time})`
				// message = `${user}: ${message} (${time})`
				socket.emit('send message', {'message': message});

				// Clear input field
				document.querySelector('#new_message').value = ''

				// Stop form from submitting
				return false;
			}
		});

		// When a new message is send, add to the unordered list
		socket.on('announce message', data => {
			const li = document.createElement('li');
			li.innerHTML = data['message'];
			document.querySelector('#messages').append(li);
		})
	});
</script>
{% endblock %}

{% block main %}
	<ul id="list_of_channels">
		{% for channel in channels.keys() %}
		<li name="channel" value="{{ channel }}" class='option'>
			<a href="">
				{{ channel }}
			</a>
		</li>
		{% endfor %}
		{% if channels == {} %}
			You have to <a href="{{ url_for('create_channel') }}">"Create a Channel"</a> first before you can chat with other people!
		{% endif %}
	</ul>

	<ul id="messages">
	</ul>
	<form id="send_new_message">
		<input id='new_message' placeholder='Type a message' autocomplete="off" type='text'></input>
		<button type='submit' id='send' class='btn btn-primary'>Send</button>
	</form>
{% endblock %}

C:\Users\petal.ASUS-UX\Desktop\Christos\Learning\Programming\CS50 - Web Programming with Python 
and JavaScript\project2>